*{
    margin: 0;
    padding: 0;
    transition: 0.2s;
}
@font-face {
    font-family: 'Futura PT';
    src: url('../futura-pt/FuturaPT-Light.woff2') format('woff2'),
        url('../futura-pa/FuturaPT-Light.woff') format('woff'),
        url('../futura-pt/FuturaPT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../futura-pt/FuturaPT-Medium.woff2') format('woff2'),
        url('../futura-pt/FuturaPT-Medium.woff') format('woff'),
        url('../futura-pt/FuturaPT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Cond Extra';
    src: url('../futura-pt/FuturaPTCond-ExtraBold.woff2') format('woff2'),
        url('../futura-pt/FuturaPTCond-ExtraBold.woff') format('woff'),
        url('../futura-pt/FuturaPTCond-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../futura-pt/FuturaPT-Medium.woff2') format('woff2'),
        url('../futura-pt/FuturaPT-Bold.woff') format('woff'),
        url('../futura-pt/FuturaPT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
ul li,a{
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Futura PT';
    background-image: url('../images/bg@2x.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #E5E5E5;
    overflow-x: hidden;
}

.head_top{
    background-color:  #F9F8F8;
}

.head_top .container{
    width: 1300px;
    margin: 0 auto;
}
.head_top .container{
    display: flex;
    justify-content: space-between;
}
.head_top .container ul{
    display: flex;
    justify-content: space-between;
}
.head_top ul li a{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
    padding: 13px 0 13px 0;
    display: inline-block;
}
.head_top .ul-1{
    position: relative;
    left: 150px;
}
.head_top .ul-1::before{
    content: '';
    background-image: url(../images/house\ \(1\).png);
    width: 14px;
    height: 13px;
    position: absolute;
    top: -14px;
    bottom: 0;
    left: -20px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.head_top .ul-2{
    position: relative;
    left: 110px;
}
.head_top .ul-2::before{
    content: '';
    background-image: url(../images/phone.png);
    width: 14px;
    height: 13px;
    position: absolute;
    top: -14px;
    bottom: 0;
    left: -20px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.head_top .ul-3{
    position: relative;
    left: 20px;
}
.head_top .ul-3::before{
    content: '';
    background-image: url(../images/Group\ \(2\).png);
    width: 14px;
    height: 13px;
    position: absolute;
    top: -14px;
    bottom: 0;
    left: -20px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.head_top ul li a{
    padding-right: 20px;
    position: relative;
}
.head_top ul li a:hover{
    color: #FFBD54;
}
.head_top ul li a:active{
    color: #333333;
    opacity: 0.6;
}
.head_top ul li .href-3::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background-image: url('../images/Ellipse\ 5.png');
    margin: auto;
    top: 0;
    bottom: 0;
    left: -12px;
}
.head_top ul li .href-4::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background-image: url('../images/Ellipse\ 5.png');
    margin: auto;
    top: 0;
    bottom: 0;
    left: -12px;
}
.head_mid{
    background-color: #fff;
    position: relative;
}
.head_mid .container .itvacca{
    position: absolute;
    top: -10px;
}

.head_mid .container{
    width: 1300px;
    margin:  0 auto;
}
.head_mid .container ul{
    display: flex;
    justify-content: flex-end;
}
.head_mid .container ul li{
    display: flex;
    padding: 22px 0 22px 0;
    margin-left: 55px;
    position: relative;
}
.head_mid .container ul .dog{
    margin-left: 140px;
}
.head_mid .container ul li a{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
}

.fish_pos::before{
    position: absolute;
    content: '';
    background-image: url('../images/active.png');
    width: 15px;
    height: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -30px;
    background-repeat: no-repeat;
    background-size: contain;
}
.dog::before{
    position: absolute;
    content: '';
    background-image: url('../images/pet.png');
    width: 23px;
    height: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 110px;
    background-repeat: no-repeat;
    background-size: contain;
}
.before a{
    border-bottom:3px solid transparent ;
}

.before a:hover{
    border-bottom: 3px solid #ff0;
}

.before a:active{
    border-bottom: 3px solid rgba(255, 255, 000, .4);
}

.head_bottom .container{
    width: 1300px;
    margin: 0 auto;
}
.head_bottom{
    background-image: url('../images/Group\ 60.png'), url('../images/Group\ 61.png');
    background-size: 870px 830px contain, 319px 430px contain;
    background-repeat: no-repeat;
    background-position: left, right;
    background-position-y: -100px, 400px ;
}

.head_bottom h1{
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 64px;
    color: #333333;
    padding: 153px 0 0 700px;
}
.head_bottom h1 span{
    color: #78C0DE;
}
.head_bottom p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #949494;
    width: 495px;
    padding: 29px 0 0 700px;
    height: 105px;
}
.head_bottom a{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 15px 47px;
    background-color: #333333;
    display: inline-block;
    margin: 38px 0 373px 700px;
    border-radius: 3px;
}
.head_bottom a:hover{
    background-color: #FFBD54;
    color: #333333;
}
.head_bottom a:active{
    opacity: 0.6;
}
main .main_top.container{
    width: 1300px;
    margin: 0 auto;
}
.main_top{
    display: flex;
    justify-content: center;
    position: relative;
}
.main_top::before{
    position: absolute;
    content: '';
    width: 140px;
    height: 1px;
    background-color: #dbdbdb;
    top: -43px;
}
main .main_top p{
    width: 753px;
    height: 78px;
    text-align: center;
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #949494;
}
.main_top p::before{
    position: absolute;
    content: '';
    background-image: url('../images/qowtirnoq.png');
    width: 142px;
    height: 128px;
    background-repeat: no-repeat;
    top: -40px;
    left: -100px;
}
.main_top p::after{
    position: absolute;
    content: '';
    background-image: url('../images/qowtirnoq.png');
    width: 142px;
    height: 128px;
    background-repeat: no-repeat;
    left: 730px;
    transform: rotate(180deg);
    top: -60px;
}
.main_top::after{
    position: absolute;
    content: '';
    width: 140px;
    height: 1px;
    background-color: #dbdbdb;
    top: 123px;
}
h4{
    display: flex;
    justify-content: center;
    margin-top: 70px;font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #333333;
}
.main_mid{
    margin-top: 191px;
}
.main_mid .container{
    width: 1200px;
    margin: 0 auto;
}
.main_mid .container h2{
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 54px;
    display: flex;
    align-items: center;
    color: #333333;
}
.main_mid_bloc1{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    flex-wrap: wrap;
    position: relative;
}
.main_mid_bloc1 .icon1{
    position: absolute;
    z-index: 1;
    top: 90px;
    left: -60px;
    padding: 12px 18px 12px 12px;
}
.icon1:hover{
    padding: 12px 18px 12px 12px;
    background-color: #fff;
}
.icon1:active{
    opacity: 0.6;
}
.icon2:hover{
    padding: 12px 12px 12px 18px;
    background-color: #fff;
}
.icon2:active{
    opacity: 0.6;
}

.main_mid_bloc1 .icon2{
    position: absolute;
    right: -60px;
    z-index: 1;
    padding: 12px 12px 12px 18px;
    top: 90px;
}
.main_mid_bloc1 .item{
    width: 193px;
    text-align: center;
    padding: 31px 0 23px 0;
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
}

.main_mid_bloc1 .item:hover{
    opacity: 0.7;
}
.main_mid_bloc1 .item:active{
    opacity: 0.5;
}
.main_mid_bloc1 .item p{
    padding-top: 23px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    color: #333333;
}
.main_mid .big_bloc{
    margin-top: 14px;
    display: flex;
    align-items: center;
    padding: 41px 105px 41px 30px;
    border-radius: 0px 5px 5px 5px;
    background: #FFFFFF;
    justify-content: space-between;
}
.main_mid .big_bloc .left{
    margin-right: 44px;
}

.main_mid .big_bloc .right h3{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #333333;
    padding-bottom: 18px;
}
.main_mid .big_bloc .right p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
}
.main_mid .big_bloc .right .elem{
    padding: 9px 0 34px 0;
}
.main_mid .big_bloc .right a{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}
.main_mid .big_bloc .right .lin1{
    padding: 16px 36px 16px 63px;
    background: #FFBD54;
    border-radius: 3px;
    display: inline-block;
    margin-right: 21px;
    position: relative;
}
.main_mid .big_bloc .right .lin1:before{
    position: absolute;
    content: '';
    background-image: url('../images/money\ 1.png');
    top: 0;
    bottom: 0;
    left: 35px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    width: 21px;
    height: 21px;
}
.main_mid .big_bloc .right .lin2:before{
    position: absolute;
    content: '';
    background-image: url('../images/document\ 1.png');
    top: 0;
    bottom: 0;
    left: 35px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    width: 21px;
    height: 21px;
}
.main_mid .big_bloc .right .lin1:hover{
    background-color: #333333;
    color: #FFBD54;
}
.main_mid .big_bloc .right .lin1:active{
    opacity: 0.6;
}
.main_mid .big_bloc .right .lin2:hover{
    background-color: #FFBD54;
    color: #333;
}
.main_mid .big_bloc .right .lin2:active{
    opacity: 0.6;
}
.main_mid .big_bloc .right .lin2{
    padding: 16px 36px 16px 63px;
    background: #333333;
    border-radius: 3px;
    display: inline-block;
    position: relative; 
}
.main_bloc2 .container{
    display: flex;
    position: relative;
    margin: 0 auto;
    width: 1200px;
    margin-top: 235px;
}
.main_bloc2{
    background-image: url('../images/Mask\ Group\ \(4\).png');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
}
.main_bloc2 .left{
    margin-left: 130px;
}
.main_bloc2 .left h2{
    margin-top: 90px;
    margin-bottom: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.main_bloc2 input{
    background: #FFFFFF;
    border-radius: 5px;
    width: 335px;
    height: 50px;
    border: none;
    outline:none ;
    margin-bottom: 88px;
    border: 2px solid transparent;
}
.main_bloc2 input:focus{
    border: 2px solid #FFBD54;
}
.main_bloc2 input:placeholder-shown{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
    padding-left: 22px;
}
.main_bloc2 .left a{
    background: #333333;
    border-radius: 3px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 15px 53px;
}
.main_bloc2 .left a:hover{
    background-color: #FFBD54;
    color: #333;
}
.main_bloc2 .left a:active{
    opacity: 0.6;
}
.main_bloc2 .right{
    position: relative;
}

.main_bloc2 .right  img{
    position: absolute;
    width: 594px;
    height: 481px;
    object-fit: contain;
    top: -113px;
}
.main_bloc3.container{
    display: flex;
    width: 1300px;
    margin: 0 auto;
}
.main_bloc3.container .item2{
    display: flex;
}
.class{
    display: flex;
    justify-content: center;
    margin: 216px 0 80px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #333333;
}
.item1 h3{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 25px;
    color: #000000;
    padding: 41px 93px 10px 30px;
}
.item1 p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
    padding: 0 31px 37px 30px;
}
.item1 a{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    padding: 0 0 0 57px;
}
.item1{
    background: #FEFEFE;
    border: 1px solid #E4E4E2;
    box-sizing: border-box;
    border-radius: 5px;
}
.itemm{
    margin-right: 22px;
}
.item2{
    margin-right: 22px;
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    box-sizing: border-box;
    border-radius: 5px;
    height: 435px;
}
.item2 .soba{
    display: inline-block;
    margin-right:7px;
    margin-top: 43px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    align-items: center;
    color: #3D9CEA;

}

.item2 .sob{
    display: inline-block;
    margin-left:30px;
}
.item2 .right h3{
    padding: 32px 0 15px 31px;
    font-family: Futura PT;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 29px;
    color: #333333;
    
}
.item2 p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
    padding: 0 0 36px 31px;
}
.item2 .citata{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    margin-left: 62px;
    display: inline-block;
}
a{
    position: relative;
}
.citat::before{
    position: absolute;
    content: '';
    width:23px;
    height: 21px;
    background-position: center;
    background-size: contain;
    margin: auto;
    left: 30px;
    background-image: url('../images/pet\ \(1\).png');
}
.citata::before{
    position: absolute;
    content: '';
    width:23px;
    height: 21px;
    background-position: center;
    background-size: contain;
    margin: auto;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -25px;
    background-image: url('../images/pet\ \(1\).png');
}
.citat:hover{
    color: #FFBD54;
}

.citat:active{
    color: #333;
}
.citata:hover{
    color: #FFBD54;
}

.citata:active{
    color: #333;
}
.main_bloc4{
    margin-top: 265px;
    display: flex;
}
.main_bloc4 .container{
    width: 1340px;
    margin: 0 auto;
    display: flex;
}
.main_bloc4 .right{
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #333333;
    width:80%;
}

.main_bloc4 .right input{
    display: block;
}
.main_bloc4 .right h2{
    font-family: Futura PT;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 62px;
    color: #FFFFFF;
    padding: 62px 0 14px 168px;
}
.main_bloc4 .right p{
    width: 334px;
    height: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
    padding: 0 0 29px 168px ;
}
.main_bloc4 .right input[type='mailto']{
    width: 375px;
    height: 50px;
    background: #FFFFFF;
    border: none;
    outline: none;
    display: block;
    margin-left: 168px;
    padding-left: 22px;
    border: 2px solid transparent;
    margin-top: 14px;
}

.main_bloc4 .right input[type='text']{
    width: 375px;
    height: 50px;
    background: #FFFFFF;
    border: none;
    outline: none;
    display: block;
    margin-left: 168px;
    padding-left: 22px;
    border: 2px solid transparent;
    margin-top: 29px;
}
textarea{
    width: 375px;
    height: 165px;
    margin-left: 168px;
    padding-left: 25px;
    padding-top: 17px;
    margin-top: 14px;
    resize: none;
    font-size: 16px;
    border: none;
    outline: none;
}
textarea:placeholder-shown{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #949494;
    border: 2px solid transparent
}
textarea:focus{
    border: 2px solid #FFBD54;
}
button{
    display: block;
    padding: 16px 50px;
    margin-top: 30px;
    background-color: #FFBD54;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    border: none;
    outline: none;
    margin-left: 168px;
    margin-bottom: 74px;
}

.main_bloc4 .right input:focus{
    border: 2px solid #FFBD54;
    color: #333;
}

.main_bloc4 input:placeholder-shown{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #949494;
}
.main_bloc4 .right input{
    display: block;
}
.main_bloc4 .right input{
    display: block;
}
footer{
    margin-top: 247px;
    background-color: #F3F3F3;
}
footer .container{
    width: 1300px;
    margin: 0 auto;
    padding: 54px 0 69px 0;
    display: flex;
    align-items: flex-start;
    position: relative;
}
footer li a{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
}
.ul-1{
    margin-left: 67px;
}
.ul-1 li a{
    display: inline-block;
    margin-bottom: 14px;
}
.ul-2{
    margin-left: 87px;
}
.ul-2 li a{
    display: inline-block;
    margin-bottom: 14px;
}
.ul-3{
    margin-left: 127px;
    position: relative;
}
.ul-4{
    margin-left: 112px;
    position: relative;
}
.ul-5{
    margin-left: 87px;
    position: relative;
}
.ul-5 li a{
    display: inline-block;
    margin-bottom: 4px;
}
footer ul li a:hover{
    color: #FFBD54;
}

footer ul li a:active{
    color: rgba(51, 51, 51, 0.7);
}

.itvacca:hover{
    opacity: 0.7;
}

.itvacca:active{
    opacity: 0.5;
}
.ul-3:before{
    content: '';
    position: absolute;
    width:16px;
    height: 16px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: -16px;
    left: -30px;
    bottom: 0;
    margin: auto;
    background-image: url('../images/Group\ \(3\).png');
}
.ul-4:before{
    content: '';
    position: absolute;
    width:16px;
    height: 16px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: -16px;
    left: -30px;
    bottom: 0;
    margin: auto;
    background-image: url('../images/Vector\ \(5\).png');
}
.ul-5:before{
    content: '';
    position: absolute;
    width:16px;
    height: 16px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: -56px;
    left: -30px;
    bottom: 0;
    margin: auto;
    background-image: url('../images/Vector\ \(6\).png');
}
h6{
    position: absolute;
    right: 15px;
    bottom: 23px;font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #5C5C5C;
    
}